* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.grid__container {
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto) [6];
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "main main main"
    "widget-1 widget-1 widget-1"
    "widget-2 widget-2 widget-2"
    "footer footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .main,
.contenedor .footer {
  padding: 20px;
}

.contenedor .header {
  grid-row: 1;
  grid-column: 1;
  grid-column: 3;
  grid-area: header;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.contenedor .main {
  grid-row: 3;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: white;
}

.contenedor .widget-1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: widget-1;
}

.contenedor .widget-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: widget-2;
}

.contenedor .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #9bcaf2;
  text-align: center;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titulo a {
  color: #2477bf;
  display: flexbox;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.titulo a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #9bcaf2;
}

.subtitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2477bf;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Esto es el nav */
.navbar a:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.navbar a:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

nav ul li {
  display: block;
  color: #2477bf;
}

nav ul li a {
  color: #2477bf;
  padding: 15px;
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold;
}

/* Termina el nav */
/* Texto */
.texto,
.texto2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: justify;
}

.texto,
.texto2 {
  position: r;
}

.texto,
.texto2,
.texto3,
.texto4 {
  margin: 20px;
}

/* Termina el texto */
/* Skill set */
.imag {
  height: 100px;
  width: 100px;
  margin: auto;
}

.imag:hover {
  -webkit-box-shadow: 5px 5px 5px #2477bf;
  box-shadow: 5px 5px 5px #2477bf;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Projects */
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  margin-bottom: 100px;
  padding: auto;
}

.video:hover {
  -webkit-box-shadow: 5px 5px 5px #2477bf;
  box-shadow: 5px 5px 5px #2477bf;
}

.video {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.video:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* termina projects */
/* contacto */
.contenedor-form {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid black;
}

.agrupar>* {
  padding: 1em;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-form form button {
  background: #9bcaf2;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #2477bf;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #9bcaf2;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 15px;
}

.contact-info .moreinf {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: 0.3em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: left;
}

.agrupar>* {
  padding: 2em;
}

.moreinf {
  list-style: none;
  padding: 0;
}

/* Footer */
footer {
  display: inline-block;
  line-height: 3;
  text-align: center;
  width: 100%;
  margin-top: 100px;
  padding: 40px;
  background-color: #9bcaf2;
}

footer a {
  color: white;
  display: flexbox;
  padding: 10px;
  text-decoration: none;
  display: block;
}

footer .footer__media {
  display: inline;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: auto;
  margin: auto;
}

footer .footer__media img {
  width: 30px;
  height: 30px;
}

footer .footer__media-1 {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

footer .footer__media-1:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

footer .footer__media-2 {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

footer .footer__media-2:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

footer .footer__abajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 25px;
  list-style-type: none;
}

footer .footer__abajo:hover {
  text-decoration: underline;
}

footer .footer__copy {
  opacity: 1;
  text-align: center;
}

/* media de home */
@media only screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      "main main main"
      "widget-1 widget-1"
      "widget-2 widget-2"
      "footer footer footer";
  }
}

@media only screen and (max-width: 460px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "navbar navbar navbar"
      "main main main"
      "widget-1"
      "widget-2"
      "footer footer footer";
  }
}

/* media de contacto */
@media only screen and (max-width: 460px) {
  .agrupar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilo.css.map */